version: '3.8'
services:
  jenkins:
    build:
      context: ./
      dockerfile: jenkins.dockerfile
    container_name: jenkins

    ports:
      - '8080:8080'
      - '50000:50000'

    networks:
      - jenkins

    volumes:
      - jenkins_home:/var/jenkins_home
      - /var/run/docker.sock:/var/run/docker.sock
    
    command: sh -c "chown root:docker /var/run/docker.sock"

volumes:
  jenkins_home: